.music {
    padding: 20px;
    .music-player {
        max-width: 1024px;
        height: 100px;
        background-color: $back1;
        margin: 0 auto;
        padding-right: 5px;
        display: flex;
        justify-content: space-between;
        position: relative;
        overflow: hidden;
        .information-main {
            display: flex;
            img {
                height: 100%;
                -ms-interpolation-mode: nearest-neighbor;
                image-rendering: pixelated;
            }
            .information {
                display: flex;
                justify-content: center;
                flex-direction: column;
                height: 100%;
                padding: 0 20px;
                margin-right: 20px;
                .title {
                    font-size: 1.2em;
                    font-weight: bold;
                }
            }
        }
        .management {
            @include flex-x(center);
            flex-direction: column;
            margin-bottom: 10px;
            .management-up {
                @include flex-x(center);     
                font-size: 0.9em;
                & > * {
                    margin-left: 5px;
                    cursor: pointer;
                    padding: 10px;
                    padding-bottom: 5px;
                    @include border($back1);
                    transition:all .3s ease;
                    &:hover {
                        color:$colD2;
                        border-color: $colD2;
                    }
                }
                .prev {
                    transform: rotateY(180deg)
                }
                .pause {
                    font-size: 1.3em;
                }
            }
            .management-down {
                @include flex-x(center);
                .music-range {
                    width: 200px;
                    height: 15px;
                    margin: 0 5px;
                    position: relative;
                    background-color: $colr1;
                    input {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index:3;
                        opacity: 0;
                    }
                    .music-range-progress {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 0%;
                        height: 100%;
                        background-color: $colD2;
                    }
                }
            }
        }
        .management-last {
            display: flex;
            justify-content: space-between;
            align-items: end;
            flex-direction: column;
            height: 100%;
            padding: 10px;
            .manage-volume {
                @include flex-x(space-between);
                .volume-button {
                    padding-top: 5px;
                }
                .volume-range {
                    width: 70px;
                    height: 15px;
                    margin-left: 10px;
                    position: relative;
                    background-color: $colr1;
                    justify-self: end;
                    input {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index:3;
                        opacity: 0;
                    }
                    .volume-range-progress {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 0%;
                        height: 100%;
                        background-color: $colD2;
                    }
                }
            }
            .manage-etc {
                .play-auto {
                    cursor: pointer;
                    transition:all .3s ease;
                    &:hover {
                        color: $colD2;
                    }
                }
            }
        }
        @media screen and (max-width:720px) {
            font-size: 0.8em;
            height: 70px;
            .information {
                margin-right: 0;
                padding: 10px;
                span {
                    width: 100%;
                    text-overflow: ellipsis;
                }
            }
            .management {
                .management-down {
                    .music-range {
                        width: 100px;
                        height: 10px;
                    }
                }
            }
            .management-last {
                .manage-volume {
                    .volume-range {
                        width: 40px;
                        height: 10px;
                    }
                }
            }
        }
        @media screen and (max-width:500px) {
            padding-right: 25px;
            .information {
                font-size: 0.6em;
            }
            .management-last {
                position: absolute;
                left: 100%;
                background-color: $back2;
                transition: transform .4s ease;
                &.active {
                    transform: translateX(-100%)
                }
                .visible-manage {
                    @include flex-x(center);
                    position: absolute;
                    top: 0;
                    left: -20px;
                    width: 21px;
                    height: 100%;
                    background-color: $colD2;
                }
            }
        }
    }
    .music-element {
        @include flex-x(start);
        margin: 10px auto;
        max-width:1024px;
        background-color: $back1;
        padding:10px;
        &.active {
            color:$colD2;
        }
        .music-element-activate {
            cursor: pointer;
        }
        & > * {
            width: 20%;
            overflow: hidden;
            &:nth-child(-n+2) {
                width: 5%;
            } 
            &:nth-last-child(-n+2) {
                display: flex;
                justify-content: end;
                width: 6%;
            }
            &:nth-last-child(2):after {
                content: 'г.';
            }
        }
        @media screen and (max-width:720px) {
            font-size: 0.9em;
            & > * {
                &:nth-child(-n+2) {
                    width: 7%;
                } 
                &:nth-last-child(-n+2) {
                    width: 10%;
                }
            }
        }
        @media screen and (max-width:720px) {
            font-size: 0.7em;
        }
    }
}