@import './zerostyle.css';
@import './variables.scss';
@import './font.scss';
@import './iconfont.css';

body {
    background-color: $back2;
    color:$colr1;
    font-family: Pixel1;
    padding-bottom: 50px;
    overflow-x: hidden;
    font-size: $fontH;
    & > * {
        width:100%;
    }
    .wrapper {
        max-width:1024px;
    }
}

@import '../components/Header/header.scss';
@import '../components/Footer/footer.scss';
@import '../components/Auth/auth.scss';
@import '../components/News/news.scss';
@import '../components/Games/games.scss';
@import '../components/Applications/applications.scss';
@import '../components/BotValera/botvalera.scss';