@import './zerostyle.css';
@import './variables.scss';
@import './font.scss';
@import './iconfont.css';
@import './animation.scss';
body {
    background-color: $back2;
    color:$colr1;
    font-family: Pixel1;
    padding-bottom: 50px;
    overflow-x: hidden;
}

@import '../components/Header/header.scss';
@import '../components/Footer/footer.scss';
@import '../components/Auth/auth.scss';
@import '../components/News/news.scss';
@import '../components/Games/games.scss';