$back1:#162128;
$back2:#121c23;
$back3:#0b1116;
$colr1:#f2f2f2;
$colrErr:#d45d5d;
$colD1:#67d8ae;
$colD2:#713088;
$colD3:#d37b3b;

$fontH:24px;

@mixin flex-x($x) {
    display: flex;
    justify-content: $x;
    align-items: center;
}

@mixin border($color) {
    border:1px solid $color;
}

@mixin scrollbar($w,$c1,$c2) {
    &::-webkit-scrollbar {width: $w;}
    &::-webkit-scrollbar-track {background: $c2;}
    &::-webkit-scrollbar-thumb {background-color: $c1;}
    scrollbar-width: auto;
    scrollbar-color: $c1 $c2;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}