footer {
    @include flex-x(flex-start);
    width: 100%;
    height: 50px;
    background-color: $back1;
    overflow: hidden;
    font-size: 1em;
    font-family: Pixel2;
    padding: 0 20px;
    margin-top: 20px;
    z-index: 10;
    position: absolute;
    bottom: 0;
    menu {
        height: 90%;
        a.footer-logo {
            height: 100%;
            margin-left: 20px;
            img {
                height: 100%;
                width: auto;
            }
        }
    }
    .footer-politic {
        @include flex-x(center);
        @extend .center-y;
        color:$colr1;
        height: 80%;
        background-color: transparent;
        padding: 0 20px;
        font-size: 1.1em;
        right: 10px; 
        &:hover {
            color:$colD3;
            border-bottom:1px solid $colD3;
        }
    }
    @media screen and (max-width:870px) {
        .footer-politic {
            padding: 0;
            i {
                font-size: 30px;
            }
            span {
                display: none;
            }
        }
    }
    @media screen and (max-width:640px){
        font-size: 0.6em;
        & > span {
            width: 30%;
        }
    }
}