.games {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    .games-paragraph {
        width: 50%;
        h1 {
            font-family: 'Pixel2';
            font-size: 1.1em;
            margin-bottom: 5px;
        }
        span.author {
            float:right;
            font-size: 1.2em;
        }
    }
    .swiper {
        width: 200px;
        height: 300px;
        overflow: visible;
        margin: 0;
        .swiper-wrapper {
            .swiper-slide {
                background: $back1;
                @include border(white);
                @include flex-x(center);
                flex-direction: column;
                overflow:hidden;
                position: relative;
                * {
                    margin-top: 5px;
                }
                h2 {
                    font-size: 1.5em;
                }
                img {
                    width: 80%;
                }
                a.games-url {
                    border: inherit;
                    width: 80%;
                    @include flex-x(center);
                    padding: 10px 0;
                    font-size: 1.2em;
                    &:hover {
                        background-color: $colD1;
                        color:$back1;
                    }
                }
                &:before {
                    content: '';
                    display: block;
                    width: 50px;
                    height: 40px;
                    background-color: white;
                    position: absolute;
                    top: -20px;
                    left: -30px;
                    transform: rotateZ(-45deg);
                }
                &.swiper-slide-visible {
                    border-color:$colD1;
                    &:before {
                        background-color: $colD1;
                    }
                }
            }
        }
    }
    
}