.swiper.news {
    width: 100%;
    overflow: visible;
    margin: 50px 0;
    padding-bottom: 40px;
    .swiper-wrapper {
        .swiper-slide {
            background-color: $back1;
            border:1px solid $colr1;
            padding: 20px;
            font-size: 1em;
            position: relative;
            transition: all .5s ease;
            h2 {
                @include flex-x(center);
                font-size: 32px;
                border: 1px solid $colr1;
                border-bottom: none;
                background-color: inherit;
                width: 100px;
                height: 40px;
                position: absolute;
                top:-20px;
            }
            p {
                margin-top: 10px;
            }
            img {
                margin: 10px 0;
                width: 100%;
            }
            span.date {
                @include flex-x(flex-end);
            }
            &.swiper-slide-next {
                @include border($colD1);  
                h2 {
                    border:inherit;
                    border-bottom: none;
                }
            }
        }
    }
    .swiper-pagination {
        .swiper-pagination-bullet {
            width:15px;
            height: 15px;
            background-color: transparent;
            @include border(white);
            border-radius: 0%;
            opacity: 1;
            position: relative;
            &:before {
                content:'';
                display: block;
                width: 60%;
                height: 60%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                background-color: $colr1;
            }
            &.swiper-pagination-bullet-active {
                border-color: $colD1;
                &:before {
                    background-color: $colD1;
                }
            }
        }
        
    }
}