.form-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.6);
    backdrop-filter: blur(3px);
    z-index: 1000;
    .form {
        @extend .center-relative;
        @include flex-x(center);
        @include border($colD1);
        padding: 20px; 
        background-color: $back2;
        max-width:400px;
        min-height:350px;
        flex-direction: column;      
        .login-head {
            font-size: 1.5em;
            padding: 5px 30px;
            width: auto;
            display: block;
            background-color: $back2;
            position: absolute;
            height: 30px;
            top: -20px;
            left:15%;
            border: inherit;
            border-bottom: none;
            user-select: none;
        }
        span {
            @include flex-x(flex-end);
            font-size: 0.9em;
            cursor: pointer;
            width: 80%;
        }
        button {
            @include flex-x(center);   
            display: block;
            width: 80%;
            padding: 20px 40px;
            color: $colr1;
            border: 1px solid $colr1;
            background-color: transparent;
            font-size: 1.5em;
            &:hover {
                color:$colD1;
                border-color: $colD1;
            }
        }
        .input-container {
            width: 80%;
            font-size: 1em;
            color:$colr1;
            display: block;
            margin-bottom: 20px;
            padding: 0;
            position: relative;
            input {
                font-size: 1em;
                display: block;
                width: 100%;
                padding: 5px 10px;
                background-color: transparent;
                border-bottom: 1px solid $colr1;
                color:inherit;
                &::placeholder {
                    color:inherit;
                }
                &.valid {
                    border-color: $colD1;
                    color:$colD1;
                    & ~ i.show-input {
                        color:$colD1;
                    }
                }
                &:focus {
                    & ~ .error-dialog {
                        display: block;
                    }
                    &.invalid {
                        border-color: $colrErr;
                        color:$colrErr;
                        & ~ i.show-input {
                            color:$colrErr;
                        }
                    }
                }
            }
            i.show-input {
                @extend .center-y;
                right:5px;
                font-size: 0.8em;
                cursor: pointer;
            }
            .error-dialog {
                @extend .center-y;
                @include border($colrErr);
                left: 110%;
                width: 100%;
                padding: 5px;
                background-color: $back2;
                display: none;
                p {
                    position: relative;
                    z-index: 3;
                }
                &:before {
                    content: '';
                    display: block;
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    left: -14px;
                    border:inherit;
                    border-top: none;
                    border-right: none;
                    border-bottom-left-radius: 5px;
                    top:50%;
                    transform: rotateZ(45deg) translateY(-50%);
                    background-color: inherit;
                    z-index: 2;
                }
            }
        }
    }
}